<div class="container">
  <div class="wrapper col-md-4 col-md-offset-3 col-xs-3">

    <h2>Profile</h2>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= devise_error_messages! %>

        <div class="field">
          <%= f.label :メールアドレス %><br />
            <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", placeholder: "メールアドレス" %>
        </div>

        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <div>Currently waiting confirmation for:
            <%= resource.unconfirmed_email %>
          </div>
          <% end %>

            <div class="field">
              <%= f.label :新規パスワード %> <br /><i>(変更がない場合は空で登録してください)</i><br />
                <%= f.password_field :password, autocomplete: "off", class: "form-control", placeholder: "新規パスワード" %>
            </div>

            <div class="field">
              <%= f.label :password_confirmation %><br />
                <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control", placeholder: "確認パスワード" %>
            </div>

            <div class="field">
              <%= f.label :current_password %><br /> <i>(現在設定しているパスワードを入力してください)</i><br />
                <%= f.password_field :current_password, autocomplete: "off", class: "form-control", placeholder: "現在のパスワード" %>
            </div>

            <div class="actions">
              <%= f.submit "更新！", class: "btn btn-primary btn-block" "btn btn-primary" %>
            </div>
            <% end %>

              <h3>このアプリから退会しますか？</h3>

              <p>
                <%= button_to "退会します！", registration_path(resource_name), data: { confirm: "本当に退化しますか?" }, method: :delete,class:"btn btn-danger" %>
              </p>

              <%= link_to "ワイン一覧へ", :back %>



  </div>
</div>