<div class="container">
<div class="col-md-6 col-md-offset-3 col-xs-3 col-sm-offset-1">
<h3>以下の内容で投稿しても良いですか？</h3>

<%= form_with(model: @wine, url: wines_path, local: true) do |form| %>
  <p><%= image_tag(@wine.image) %></p>
  <%= hidden_field_tag :"cache[image]",@wine.image.cache_name %>
  <p>名前:<%= @wine.name %></p>
  <%= form.hidden_field :name %>
  <p>産地:<%= @wine.area %></p>
  <%= form.hidden_field :area %>
  <p>色:<%= @wine.color %></p>
  <%= form.hidden_field :color %>
  <p>説明:<%= @wine.content %></p>
  <%= form.hidden_field :content %>
  
  

  <%= form.submit  "登録する",class: 'btn btn-primary btn-block' "btn btn-primary" %>
<br>
<% end %>

<%= form_with(model: @wine, url: new_wine_path, local: true, method:'get' ) do |form| %>
  <%= form.hidden_field :name %>
  <%= form.hidden_field :area %>
  <%= form.hidden_field :color %>
  <%= form.hidden_field :content %>
  <%= form.submit "もどる", name: 'back',class: 'btn btn-primary btn-block' "btn btn-primary" %>
<% end %>
</div>
</div>
